<%= form_with(model: [:users_backoffice, step], local: true) do |form| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='row-sm-12'>
    <div class='col-sm-12'>
      <%= form.label :'Nome do passo' %>
      <%= form.text_field :name, class:"form-control" %>
    </div>
  </div>
  
  <div class='row-sm-12'>
    <div class='col-sm-4'>
    <br>
      <%= form.label :'Objetivo' %>
      <%= form.collection_select :objective_id, Objective.order(:name), :id, :name, {}, { class:"form-control" } %>
    </div><br>
    <div class='col-sm-4'>
    <br>
      <%= form.label :'Data Limite' %>
      <%= form.date_field :deadline, class:"form-control" %>
    </div><br>
    <div class='col-sm-4'>
    <br>
      <%= form.label :'Finalizado ?' %><br>
      <%= form.check_box :done, class:"form-control" %>
    </div>
  </div>
  
  <div class='row-sm-12'>
    <div class='col-12'>
      <%= form.label :'Descrição' %>
      <%= form.text_area :description, class:"form-control" %>
    </div>
  </div>
  
  <div class="btn-group" style='margin-top:15px;'>
    <%= form.submit "Salvar" , class:"btn btn-primary btn-round" %> &nbsp;
    <%= link_to 'Cancel', users_backoffice_steps_path, class:"btn btn-danger btn-round" %>
  </div>
<% end %>
