<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Meus Passos</a>
  </nav>
</div>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.deadline %></td>
        <td><%= link_to 'Show', users_backoffice_step_path(step) %></td>
        <td><%= link_to 'Edit', edit_users_backoffice_step_path(step) %></td>
        <td><%= link_to 'Destroy', users_backoffice_step_path(step), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_users_backoffice_step_path %>
