<div class="container">
  <nav class="navbar navbar-light" style="background-color:#191970">
    <a class="navbar-brand" href="/users_backoffice/steps"> <span class='icon'><i class='fa fa-code-fork'></i></span> Meus Passos</a>

    <div class='nav-item'>
      <%= link_to '', new_users_backoffice_step_path, class:"fa fa-plus text-white", style:"font-size:30px;" %>
    </div>
  </nav>
</div><br>

<% @steps.each do |key, value| %>
  <p><span class='icon'><i class='fa fa-calendar'></i></span>  <%= key %></p>

  <% value.each do |step| %>
    <div class='card'>
      <nav class="navbar navbar-light bg-light">
        <h5 style='font-size:15px;' class='text-capitalize'><strong>Nome: </strong> <%= step.name %><br> <span class='icon'><i class='fa fa-bullseye'></i></span> <%= step.objective.name %></h5>

        <div class='nav-item'>
          <% unless step.done %>
            <%= link_to '', users_backoffice_check_step_path(step), method: :post, class:"btn btn-light fa fa-check-square-o", style:"font-size:20px;" %>
          <% else %>
            <%= link_to '', users_backoffice_uncheck_step_path(step), method: :post, class:"btn btn-light fa fa-check-square", style:"font-size:20px;" %>
          <% end %>
          <%= link_to '', edit_users_backoffice_step_path(step), class:"btn btn-light fa fa-edit", style:"font-size:20px;" %>
          <%= link_to '', users_backoffice_step_path(step), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-light fa fa-trash", style:"font-size:20px;" %>
        </div>
      </nav>

    </div><br>
  <% end %>
<% end %>

<%# <%= paginate @steps %><br>
