<% @subjects.each do |subject| %>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <%= link_to "#{subject.name}", "#", class:"label label-primary", "data-toggle":"collapse", "data-target":"#collapseOne_#{subject.id}", "aria-expanded":"true", "aria-controls":"collapseOne_#{subject.id}" %>
        </h2>
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      
        <div id="collapseOne_<%=subject.id%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <% subject.topics.each do |topic| %>
              <div class="card-body col-md-3 col-xl-3">
                <% if topic.status == "em andamento" %>
                  <h5 class="badge badge-warning"><%= topic.status %></h5>
                <% elsif topic.status == "pendente" %>
                  <h5 class="badge badge-danger"><%= topic.status %></h5>
                <% else topic.status == "concluida" %>
                  <h5 class="badge badge-success"><%= topic.status %></h5>
                <% end %>
                
                <h5 class="card-title"><%= topic.name %></h5>
                <p class="card-text"><%= topic.description %></p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
  
<% end %>

<div class="text-center">
  <%= paginate @subjects %>
</div>
