<div class="col-md-12 col-sm-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Assuntos salvos</h2>
      <ul class="nav navbar-right panel_toolbox">
        <%= link_to new_users_backoffice_subject_path, class:"btn btn-success btn-block btn-round", style:"width:100px;" do %>
          <i class="fa fa-plus-square" ></i>
        <% end %>       
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <%= paginate @subjects, class:"text-center" %>
    
      <ul class="list-unstyled timeline">
        <% @subjects.each do |subject| %>

          <li>
            <div class="block">
              <div class="tags">
                <a href="<%= edit_users_backoffice_subject_path(subject) %>" class="tag" title="Clique para editar o assunto ou os tópicos">
                  <p><%= subject.name %><p>
                </a>
              </div>
              <% subject.topics.last(4).each do |topic| %>
                <div class="block_content">
                  <h2 class="title">
                    <!-- Label trigger modal -->
                    <label class="label label-primary" data-toggle="modal" data-target="#topicModal_<%= subject.id %>" title="Clique para ver todos os tópicos desse assunto">
                      <%= topic.title %>
                    </label>&nbsp;&nbsp;
                    <%= link_to " ", edit_users_backoffice_topic_path(topic), class:"fa fa-edit" %>
                    <%= link_to " ", users_backoffice_topic_path(topic), method: :delete, data: {confirm: "Apagar #{topic.title} ?"}, class:"fa fa-trash" %>
                    
                    <h5 class="badge badge-<%= topic_style(topic) %>"><%= topic.status %></h5>
                    
                  </h2>
                  <div class="byline">
                    <span><%= I18n.l(topic.start_time) %></span> by <a><%= current_user.email %></a>
                  </div>
                  <p class="excerpt"><%= topic.description %>
                  </p>
                </div>
              <% end %>
              
              <%= render partial: '/users_backoffice/subjects/shared/topics_modal', locals: { subject: subject } %>

            </div>
          </li>
        <% end %>
        
      </ul>

      <%= paginate @subjects %>
    </div>
  </div>
</div>
