<!-- Example split danger button -->
<div class="title-left">
  <%= link_to " ", new_users_backoffice_subject_path, class:"btn btn-success btn-round fa fa-plus-square", style:"float:right;width:100px;font-size:15px;" %>
  <h3>  Últimos assuntos adicionados </h3>
</div>

<% @subjects.each do |subject| %>

  <div class="alert alert-dark" style="padding-bottom:20px;">
    &nbsp;&nbsp;
    <%= link_to "#{subject.name}", edit_users_backoffice_subject_path(subject), class:"label label-primary" %>
    <%= link_to "", users_backoffice_subject_path(subject), method: :delete, data: {confirm: "Apagar '#{subject.name}' ?"}, class:"btn btn-danger fa fa-trash", style:"float:right;font-size:15px" %>
    <%= link_to "", edit_users_backoffice_subject_path(subject), class:"btn btn-secondary fa fa-edit", style:"float:right;font-size:15px" %>
    <button class="btn btn-info" style="float:right;font-size:10px;" data-toggle="modal" data-target="#taskModal_<%= subject.id %>" title="Clique para ver todos os tópicos desse assunto">
      <i class="fa fa-eye"></i>
    </button>
  </div>

  <%= render partial: '/users_backoffice/subjects/shared/tasks_modal', locals: { subject: subject } %>

<% end %>

<div class="text-center">
  <%= paginate @subjects %>
</div>