<div class="container">
  <div class="title_left">
    <h3>Minha Agenda de Eventos</h3>
  </div>
  <div class="clearfix"></div>

  <div class="x_content">
    <div id="calendar">
      <div class="simple-calendar" style="diplay:inline-block;">
        <%= month_calendar(events: @topics) do |date, topics| %>
          <%= I18n.l(date) %>
          
          <% topics.first(2).each do |topic| %>
            <br>
            <label class="badge badge-primary" data-toggle="modal" data-target="#topicModal_<%= topic.subject.id %>" title="Clique para ver todos os tópicos desse assunto">
              <%= topic.subject.name.truncate(20) %>
            </label>

            <%= render partial: '/users_backoffice/subjects/shared/topics_modal', locals: { subject: topic.subject } %>

          <% end %>

        <% end %>
      </div>
    </div>
  </div>

</div>
