<%= form_with(model: [:users_backoffice, objective], local: true) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
        <% objective.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-sm-12'>
      <%= form.label :'Nome do Objetivo' %>
      <%= form.text_field :name, class:"form-control" %><br>
    </div>
    <div class='col-sm-12'>
      <%= form.label :'Data Limite' %>
      <%= form.date_field :deadline, class:"form-control" %>
    </div>
  </div>
  
  <div class="btn-group" style='margin-top:15px;'>
    <%= form.submit "Salvar" , class:"btn btn-primary" %> &nbsp;
    <%= link_to 'Cancel', users_backoffice_objectives_path, class:"btn btn-danger" %>
  </div>

<% end %>
