<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @objective.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @objective.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @objective.deadline %>
</p>

<%= link_to 'Edit', edit_users_backoffice_objective_path(@objective) %> |
<%= link_to 'Back', users_backoffice_objectives_path %>
