<%= form_with model: [:users_backoffice, @board], local: true, id:"demo-form2", "data-parsley-validate":"", class:"form-horizontal form-label-left" do |form| %>
  <% if @board.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <ol>
        <% @board.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form.text_field :title, class:"form-control", placeholder:"Nome do assunto" %>
    </div>
  </div>
  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form.text_area :description, class:"form-control", placeholder:"Descreva..." %>
    </div>
  </div>
  <br>
  <h2>Atividades<h2>
  <div id='tasks'>
    <%= form.fields_for :tasks do |task| %>
      <%= render partial: "task_fields", locals: { f: task } %>
    <% end %>
    <br>
    <%= link_to_add_association '', form, :tasks, class:"btn btn-success fa fa-plus-square" %>
  </div>

  <div class="ln_solid"></div>

  <div class="item form-group">
    <div class="col-md-9">
      <%= form.submit "Salvar", class:"btn btn-primary", style:"float:none;" %>
    </div>
  </div>

<% end %>
