<%= form_with model: [:users_backoffice, @board], local: true, id:"demo-form2", "data-parsley-validate":"", class:"form-horizontal form-label-left" do |form| %>
  <% if @board.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <ol>
        <% @board.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="item form-group" >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <strong><%= form.label :Titulo %></strong><br>
      <%= form.text_field :title, class:"form-control", placeholder:"Nome do quadro" %>
    </div>
  </div>

  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <strong><%= form.label :Descrição %></strong><br>
      <%= form.text_area :description, rows:"5", class:"form-control", placeholder:"Descreva..." %>
    </div>
  </div>
  <hr>

  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>Atividades</h2>
    </div>
  </div>

  <div id='tasks' class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form.fields_for :tasks do |task| %>
        <%= render partial: "task_fields", locals: { f: task } %>
      <% end %>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= link_to_add_association 'Atividade', form, :tasks, class:"btn btn-success fa fa-plus-square" %>
      </div>
    </div>
  </div>

  <div class="ln_solid"></div>

  <div class="item form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form.submit "Salvar", class:"btn btn-primary", style:"float:none;" %>
    </div>
  </div>

<% end %>
