<div class="nested-fields" style="width:100%;">
  <div class="x_panel" style="background-color:#527293;color:#FFFAFA">
    <div class="x_title">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= f.check_box "finish" %>&nbsp;
          <%= f.label :Status_da_atividade %>
          <%= link_to_remove_association '', f, class:"btn btn-danger fa fa-trash", style:"float:right;" %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" style="padding-bottom:10px;">
          <%= f.label :Titulo %>
          <%= f.text_field :title, placeholder:"nome do tópico", class:"form-control", focus: true %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= f.label :Data_de_conclusão %>
          <%= f.datetime_field :start_time, class:"form-control" %>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= f.label :Descrição %>
          <%= f.text_area :description, placeholder:"descreva...", class:"form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
