<!-- Example split danger button -->
<div class="title-left">
  <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12">
      
      <%= link_to new_users_backoffice_board_path, class:"btn btn-primary btn-round", style:"float:right;font-size:12px;", title:"Adicionar novo quadro" do %>
        <i class="fa fa-plus-square"></i> 
      <% end %>

      <%= link_to "#", class:"btn btn-success btn-round", "data-toggle":"modal", "data-target":"#taskCalendarModal", style:"float:right;font-size:12px;", title:"Adicionar nova atividade" do %>
        <i class="fa fa-plus-square"></i> 
      <% end %>

      <h5>  Últimos quadros adicionados </h5>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xl-12">
      <%= form_with url: "#", method: :get, local: true, class:"form-group top_search" do |form| %>
        <div class="col-md-10 col-xl-10 col-sm-10">
          <%= form.text_field :title, class:"form-control", placeholder:"..." %>
        </div>
        <div class="col-md-2 col-xl-2 col-sm-2 text-center">
            <%= form.submit "Pesquisar", class:"btn btn-outline-primary btn-round", style:"width:100px;height:38px;" %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<% @boards.each do |board| %>

  <div class="alert alert-dark" style="padding-bottom:20px;">
    &nbsp;&nbsp;
    <div class="row">
      <div class="col-md-12 col-xl-12 col-sm-12">
        <%= link_to "", users_backoffice_board_path(board), method: :delete, data: {confirm: "Apagar '#{board.title}' ?"}, class:"btn btn-danger fa fa-trash", style:"float:right;font-size:15px" %>
        <%= link_to "", edit_users_backoffice_board_path(board), class:"btn btn-secondary fa fa-edit", style:"float:right;font-size:15px" %>
        <button class="btn btn-info" style="float:right;font-size:10px;" data-toggle="modal" data-target="#taskModal_<%= board.id %>" title="Clique para ver todos os tópicos desse quadro">
          <i class="fa fa-eye"></i>
        </button>
        <h5><%= link_to "#{board.title}", edit_users_backoffice_board_path(board) %></h5>
      </div>
    </div><br>
    <p><strong>Descrição: </strong><%= board.description %></p>
  </div>

  <%= render partial: '/users_backoffice/boards/shared/tasks_modal', locals: { board: board } %>

<% end %>

<div class="text-center">
  <%= paginate @boards %>
</div>

<%= render partial: 'users_backoffice/calendar_events/shared/task_calendar_modal', locals: { task: @task = Task.new } %>
