<%= form_with(model: [:users_backoffice, user_profile], local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <%= form.label :fullname %>
          <%= form.text_field :fullname, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <label>Avatar</label>
          <div class="custom-file">
            <%= form.label :'Escolher arquivo', class:"custom-file-label", for:"customFile" %>
            <%= form.file_field :avatar, class:"form-control", class:"custom-file-input", id:"customFile" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group actions">
    <%= form.submit "Salvar", class:'btn btn-primary' %>&nbsp;
    <%= link_to 'Voltar', root_path, class:'btn btn-danger' %>
  </div>
<% end %>
