<!-- Modal -->
<div class="modal fade" id="taskCalendarModal" tabindex="-1" role="dialog" aria-labelledby="taskCalendarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskCalendarModalLabel">Nova atividade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

        <%= form_with model: [:users_backoffice, @task], local: true, id:"demo-form2", "data-parsley-validate":"", class:"form-horizontal form-label-left" do |form| %>
          
          <% if @task.errors.any? %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              
              <ul>
                <% @task.errors.full_messages.each do |message| %>
                  <li> <%= message %> </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= form.label :'Assunto:' %>
              <div class="item form-group">
                <%= form.select(:board_id, Board.all.collect {|board| [board.title, board.id] }, prompt: true, class:'form-control') %>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= form.label :Título %>
              <div class="item form-group">
                <%= form.text_field :title, class:"form-control", placeholder:"Nome do tópico" %>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
              <%= form.label :Data_limite %>
              <div class="item form-group">
                <%= form.datetime_field :start_time, class:"form-control", placeholder:"Descreva o tópico" %>
              </div>
            </div>
          </div>

          <div class="row-md-12 row-xl-12">
            <%= form.label :Descrição %>
            <div class="item form-group">
              <%= form.text_area :description, class:"form-control", placeholder:"Descreva o tópico" %>
            </div><br>
          </div>  

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <%= form.submit "Salvar", class:"btn btn-primary", style:"float:none;" %>
          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
