<% if @task.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:users_backoffice, @task], local: true, id:"demo-form2", "data-parsley-validate":"", class:"form-horizontal form-label-left" do |form| %>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <%= form.label :'Assunto:' %> <%= @task.subject.name %>
      <div class="item form-group">
        <%= select("subject", "subject_id", Subject.all.collect {|sub| [sub.name, sub.id] }, { prompt: true }, class:"form-control") %>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
      <%= form.label :Título %>
      <div class="item form-group">
        <%= form.text_field :title, class:"form-control", placeholder:"Nome do tópico" %>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
      <%= form.label :Data_limite %>
      <div class="item form-group">
        <%= form.datetime_field :start_time, class:"form-control", placeholder:"Descreva o tópico" %>
      </div>
    </div>
  </div>

  <div class="row-md-12 row-xl-12">
    <%= form.label :Descrição %>
    <div class="item form-group">
      <%= form.text_area :description, class:"form-control", placeholder:"Descreva o tópico" %>
    </div><br>
  </div>  

  <div class="ln_solid"></div>

  <div class="item form-group">
    <div class="col-md-9">
      <%= form.submit "Salvar", class:"btn btn-primary", style:"float:none;" %>
    </div>
  </div>

<% end %>
