<%= form_with model: [:users_backoffice, @task], local: true, id:"demo-form2", "data-parsley-validate":"", class:"form-horizontal form-label-left" do |form| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <ol>
        <% @task.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= form.label :'Quadro atual: ' %> <strong><%= @task.board.title %></strong><br>
      <%= form.select(:board, boards_for_select, {}, {class:"form-control"}) %>
    </div>
  </div>

  <div class="item form-group">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= form.label :Titulo %><br>
      <%= form.text_field :title, class:"form-control", placeholder:"Nome do assunto" %>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= form.label :Data_limite %><br>
      <%= form.date_field :start_time, class:"form-control", placeholder:"DD/MM/AA" %>
    </div>
  </div><br>

  <div class="item form-group">
    <div class="col-md-2 col-sm2 col-xs-2">
      <%= form.label :Atividade_finalizada_? %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <%= form.check_box :finish, class:"form-control" %>
    </div>
  </div>

  <div class="item form-group">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= form.label :Descrição %><br>
      <%= form.text_area :description, class:"form-control", placeholder:"Descreva..." %>
    </div>
  </div>

  <div class="ln_solid"></div>

  <div class="item form-group">
    <div class="col-md-9">
      <%= form.submit "Salvar", class:"btn btn-primary", style:"float:none;" %>
    </div>
  </div>

<% end %>
